.topbar {
  background-color: rgba(63, 63, 37, 0.908);
  color: var(--white);
  padding: 10px 0;
  font-size: 14px;
}

.topbar-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.topbar-arrow {
  font-size: 14px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topbar-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.topbar-icon {
  font-size: 16px;
}

.topbar-divider {
  width: 1px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 992px) {
  .topbar-container {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .topbar-right {
    flex-direction: column;
    gap: 8px;
  }

  .topbar-divider {
    display: none;
  }

  .topbar-left {
    font-size: 12px;
  }
}